@font-face {
    font-family: '72-Black';
    font-style: normal;
    font-weight: 100;
    src: url('../../util/72-Black.woff');
}

* {
    font-family: '72-Black', sans-serif;
    background-color: #ccc;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

*::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

* {
    user-select: none;
    -webkit-user-select: none;
}

pre, pre * {
    user-select: all;
    -webkit-user-select: all;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }