@font-face {
    font-family: '72-Black', sans-serif;
    src: url("72-Black.woff");
}

.disableScrollbars::-webkit-scrollbar {
    background: transparent;
    width: 0px;
}

.disableScrollbars {
    scrollbar-width: none;
}

#shell--sideNavigationMenu:has(> div > div > #__twine-shell--navigationList) {
    width: inherit;
}
#shell--sideNavigationMenu:has(> div > div > #__twine-shell--navigationList:hover) {
    width: max-content;
}

#__twine-shell--navigationList {
    transition: width 0s 0.5s ease-in-out;
}

.noSelect {
    user-select: none;
}

.elementFadeIn { animation: fadeIn 0.3s; }

.elementFadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.disabledListItem {
    pointer-events: none;
    opacity: 0.5
}

.__twineArtifact-show:not(.__twineArtifact-searchDisqualify) {
    display: flex !important;
}

:not([disabled]).rainbow > * {
    font-weight: 700;
    animation: rainbow 4.5s linear;
    animation-iteration-count: infinite;
}

@keyframes rainbow{
    100%,0%{ color: rgb(255,0,0); }
    8%{ color: rgb(255,127,0); }
    16%{ color: rgb(255,255,0); }
    25%{ color: rgb(127,255,0); }
    33%{ color: rgb(0,255,0); }
    41%{ color: rgb(0,255,127); }
    50%{ color: rgb(0,255,255); }
    58%{ color: rgb(0,127,255); }
    66%{ color: rgb(0,0,255); }
    75%{ color: rgb(127,0,255); }
    83%{ color: rgb(255,0,255); }
    91%{ color: rgb(255,0,127); }
}